:host {
  display: flex;
  flex-direction: column;
}

.categories__title {
  font-size: 2.7rem;
  margin-top: 40px;
  text-align: center;
  color: #20073f;
}

.next__btn {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 20px;
  right: 250px;
  display: flex;
  align-items: center;
}

.next__btn:hover {
  filter: brightness(1.5)
}

.next__btn i {
  font-size: 30px;
}
