<main class="container">
  <div class="search__container">
    <app-map-search (newCoords)="onNewCoords($event)" (emptyQuery)="onStopSearch()"></app-map-search>
    <a class=" btn-large map__btn z-depth-3" title="Искать на карте" (click)="onMapOpenClick()"></a>
  </div>
  <app-place-list [places]="(filteredPlaces$|async)" *ngIf="!searchOnMap">
  </app-place-list>
  <div [ngClass]="{'map__container': true, 'z-depth-4': true, 'left': !!choosenPlace}" id="map" *ngIf="searchOnMap">
    <app-map (choosenPlace)="onChoosePlace($event)" [coords]="coords" #map (mapLoaded)=onMapLoaded(map)>
    </app-map>
  </div>
  <div class="aside__place" *ngIf="choosenPlace">
    <app-place-aside [place]="choosenPlace" (hide)="choosenPlace = null"></app-place-aside>
  </div>
  <button class=" btn-floating arrow__btn btn-large" title="Показать больше"><i
      class="material-icons">keyboard_arrow_down</i></button>
</main>
