main.container {
  width: 80vw;
  position: relative;
  height: 100%;
}

app-map-search {
  width: 50vw;
  display: inline-block;
  margin-top: 20px;
}

nav {
  display: inline-block;
  margin: 20px 0;
  background-color: #4a148c;
  width: 80%;
  border-radius: 50px;
}

input#search {
  border-radius: 50px;
}

input#search:focus {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.13), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.map__btn {
  width: 80px;
  height: 80px;
  margin: 20px 50px 0 20px;
  background-color: transparent;
  background-image: url('../../../assets/imgs/map.png');
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
  border-radius: 50px;
  filter: grayscale(1);
}

.map__btn:hover {
  filter: grayscale(0);
}

.arrow__btn {
  position: absolute;
  background-color: #4a148c;
  bottom: 40px;
  right: 20px;
}

.arrow__btn:hover {
  background-color: #7f50b8;
}

.arrow__btn i {
  font-size: 2.5rem;
}

app-map-search {
  margin-left: 90px;
  width: 40vw;
}

.search__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-map {
  display: block;
  width: 100%;
  height: 70vh;
}

.map__container {
  position: absolute;
  top: 110px;
  height: 75vh;
  width: 65%;
  left: 200px;
  border-radius: 150px;
  transition: left 0.3s;
}


.map__container.left {
  left: 100px
}

.aside__place {
  position: absolute;
  top: 250px;
  z-index: 500;
  width: 22vw;
  height: 47vh;
  right: 80px;
  border-radius: 150px;
  background-color: rgba(250, 250, 250, 0.8);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.12), 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.18);
}
