<form [formGroup]="form" (keydown.enter)="onSubmit()">
  <div class="input-field">
    <i class="material-icons prefix">account_circle</i>
    <input type="text" formControlName="login" [class.is-invalid]="loginInvalid" class="input" placeholder="Login">
    <app-feedback [control]="form.get('login')"></app-feedback>
  </div>
  <div class="input-field">
    <i class="material-icons prefix">email</i>
    <input type="email" formControlName="email" [class.is-invalid]="emailInvalid" class="input" placeholder="Email">
    <app-feedback [control]="form.get('email')"></app-feedback>
  </div>
  <div class="input-field">
    <i class="material-icons prefix">lock_outline</i>
    <input type="password" formControlName="password" [class.is-invalid]="passwordInvalid" class="input"
      placeholder="Password">
    <app-feedback [control]="form.get('password')"></app-feedback>
  </div>
  <div class="input-field">
    <i class="material-icons prefix">lock</i>
    <input type="password" formControlName="confirmation" [class.is-invalid]="confirmationInvalid" class="input"
      placeholder="Confirm your password">
    <app-feedback [control]="form.get('confirmation')"></app-feedback>
  </div>
  <button type="button" class="btn auth__btn" [disabled]="form.invalid" (click)="onSubmit($event)">
    Зарегистрироваться
  </button>
</form>
