:host {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 100px auto;
}

.input-field input:focus {
  border-bottom: 1px solid #492B8C;
  box-shadow: 0 1px 0 0 #492B8C;
}

.input-field {
  margin-bottom: 0;
}

.input-field input.is-invalid {
  border-bottom: 1px solid rgb(158, 6, 32);
  box-shadow: 0 1px 0 0 rgb(158, 6, 32);
}

app-feedback {
  display: block;
  margin-left: 40px;
}

.auth__btn {
  margin-top: 20px;
  height: 45px;
  border-radius: 30px;
  background-color: #492B8C;
  color: white;
}

.auth__btn:hover {
  background-color: transparent;
  color: #492B8C;
}
