<section class="place">
  <button class="btn close__btn" (click)="onCloseClick()"><i class="close material-icons">close</i></button>
  <div class="place__poster">
    <img [attr.src]="place.image" class="poster" alt="кросивое место">
    <button class="map__btn btn"></button>
  </div>
  <div class="place__info">
    <h2 class="place__title">{{place.title | uppercase}}</h2>
    <!-- <a class="place__author">
      <div class="author__photo" href="#">
        <img width="80px">
      </div>
      <div class="author__info">
        <div class="author__login"> Mr. Банан Дикий </div>
        <div class="author__date">29.09.1999</div>
      </div>
    </a> -->
    <p class="place__description">
      {{place.description}}
    </p>
    <!-- <div class="place__tags">
      <div class="chip">
        #красиво
      </div>
      <div class="chip">
        #природа
      </div>
      <div class="chip">
        #туман
      </div>
      <div class="chip">
        #mystery
      </div>
    </div> -->
    <div class="place__reviews">
      <!-- <section class="comment__form">
        <h5 class="title">Ваш коментарий</h5>
        <form>
          <div class="comment__login">
            <input type="text" class="author" placeholder="Ваш логин" id="login">
          </div>
          <div class="comment__text">
            <textarea class="comment" placeholder="Ваш комментарий"></textarea>
          </div>
        </form>
        <button type="submit" class="comment__btn btn">Отправить</button>
      </section> -->
      <fieldset class="place__rating">
        <h5 class="title">ОЦЕНКА:</h5>
        <div class="rates__wrapper" *ngIf="!inVoteState">
          <ng-container *ngFor="let rate of rates;
          let i = index">
            <input type="radio" [attr.id]="rate" name="rate" [attr.value]="5-i" [checked]="placeRate == 5-i">
            <label [attr.for]="rate" class="rate"></label>
          </ng-container>
        </div>
        <button class="btn-floating btn-large btn__vote" title="Оценить" (click)="onVote()" *ngIf="!userVoted"><i
            class="material-icons">touch_app</i></button>
        <div class="rates__wrapper" *ngIf="inVoteState" title="Оцени меня!">
          <ng-container *ngFor="let rate of rates;
            let i = index">
            <input type="radio" [attr.id]="rate" name="rate" (change)="onRateClick($event.target)" [attr.value]="5-i">
            <label [attr.for]="rate" class="rate vote"></label>
          </ng-container>
        </div>

      </fieldset>
    </div>
  </div>
</section>
