<!--The content below is only a placeholder and can be replaced.-->

<body>
  <nav class="header__nav">
    <div class="nav-wrapper">
      <a href="" class="brand-logo">SHORE</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="auth" *ngIf="!signedIn">
            SIGN IN
          </a></li>
        <li><a *ngIf="signedIn" (click)="signOut()">
            SIGN OUT
          </a></li>
        <!-- <li><a routerLink="signup">START</a></li> -->
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</body>
