<!--The content below is only a placeholder and can be replaced.-->

<body>
  <nav class="header__nav">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">SH<img src="../app/assets/imgs/earth.png">RE</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a title="Назад" (click)="goBack()"><i class="material-icons">arrow_back</i></a></li>
        <li><a title="Вперед" (click)="goForward()"><i class="material-icons">arrow_forward</i></a></li>
        <li><a routerLink="auth" *ngIf="!signedIn">
            SIGN IN
          </a></li>
        <li><a *ngIf="signedIn" (click)="signOut()">
            SIGN OUT
          </a></li>
        <!-- <li><a routerLink="signup">START</a></li> -->
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</body>
