<section class="place">
  <button class="btn close__btn" (click)="onCloseClick()"><i class="close material-icons">close</i></button>
  <div class="place__poster">
    <img [attr.src]="place.image" class="poster" alt="кросивое место">
    <button class="map__btn btn"></button>
  </div>
  <div class="place__info">
    <h2 class="place__title">{{place.title | uppercase}}</h2>
    <p class="place__description">
      {{place.description}}
    </p>
    <div class="place__reviews">
      <fieldset class="place__rating">
        <h5 class="title">ОЦЕНКА:</h5>
        <div class="rates__wrapper" *ngIf="!inVoteState">
          <ng-container *ngFor="let rate of rates;
          let i = index">
            <input type="radio" [attr.id]="rate" name="rate" [attr.value]="5-i" [checked]="placeRate == 5-i">
            <label [attr.for]="rate" class="rate"></label>
          </ng-container>
        </div>
        <button class="btn-floating btn-large btn__vote" title="Оценить" (click)="onVote()" *ngIf="!userVoted"><i
            class="material-icons">touch_app</i></button>
        <div class="rates__wrapper" *ngIf="inVoteState" title="Оцени меня!">
          <ng-container *ngFor="let rate of rates;
            let i = index">
            <input type="radio" [attr.id]="rate" name="rate" (change)="onRateClick($event.target)" [attr.value]="5-i">
            <label [attr.for]="rate" class="rate vote"></label>
          </ng-container>
        </div>

      </fieldset>
    </div>
  </div>
</section>
