<main class="container">
  <div class="ufo" (mousemove)="onMouseMove($event, container.clientWidth)" #container>
    <div class="eyes">
      <div class="eye">
        <div class="pupil left" #pupil>
          <div class="light left"></div>
        </div>
      </div>
      <div class="eye">
        <div class="pupil right" #pupil>
          <div class=" light right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-container explore-container">
    <a class=" main-btn explore " routerLink="/categories/explore">
      <span>EXPLORE</span>
    </a>
  </div>
  <div class="btn-container share-container">
    <a class=" main-btn share" routerLink="/categories/share">
      <span>SHARE</span>
    </a>
  </div>
</main>
