.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70vw;
  max-width: 100vw;
  max-height: 70vh;
  margin: 40px auto;
  padding: 40px 10px;
  overflow: hidden;
  cursor: pointer;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  max-width: 40%;
  height: 240px;
  border-radius: 90px;
  margin-right: 50px;
  margin-bottom: 50px;
  filter: grayscale(1) brightness(0.5);
}

.category__switch {
  display: none;
}

.category:hover {
  filter: grayscale(0.5)
}

.category__switch:checked+.category {
  filter: none;
}




.category__tip {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 20px;
  color: #DA357D;
}

.food {
  background: url('../../assets/imgs/food.png') no-repeat center;
}

.coffee {
  background: url('../../assets/imgs/coffee.png') no-repeat center;
}

.drinks {
  background: url('../../assets/imgs/beer.png') no-repeat center;
}

.nightlife {
  background: url('../../assets/imgs/clubs.png') no-repeat center;
}

.movies {
  background: url('../../assets/imgs/movie.png') no-repeat center;
}

.nature {
  background: url('../../assets/imgs/nature.png') no-repeat center;
}

.other {
  background: url('../../assets/imgs/fun.png') no-repeat center;
}

.art {
  background: url('../../assets/imgs/art.png') no-repeat center;
}
