<section class="categories container">
  <a class="category z-depth-3 food" routerLink="/food">
    <span class="category__tip">Food</span>
  </a>
  <a class="category z-depth-3 coffee" routerLink="/coffee">
    <span class="category__tip">Coffee&tea</span>
  </a>
  <a class="category z-depth-3 beer" routerLink="/drinks">
    <span class="category__tip">Drinks</span>
  </a>
  <a class="category z-depth-3 clubs" routerLink="/clubs">
    <span class="category__tip">Nightlife</span>
  </a>
  <a class="category z-depth-3 entertainment" routerLink="/entertainment">
    <span class="category__tip">Entertainment</span>
  </a>
  <a class="category z-depth-3 nature" routerLink="/nature">
    <span class="category__tip">Nature</span>
  </a>
  <a class="category z-depth-3 movie" routerLink="/movie">
    <span class="category__tip">Movies</span>
  </a>
  <a class="category z-depth-3 music" routerLink="/music">
    <span class="category__tip">Music</span>
  </a>
</section>
